#about {
  margin-top: 120px;
}

.about-img {
  position: relative;
  display: flex;
  justify-content: center;
}
.about-img img {
  border-radius: 45px;
}

.section-head .title,
h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  line-height: 60px;
  font-weight: 700;
  font-family: Chakra Petch, sans-serif;
  color: #fff;
}

.about-video {
  margin-top: 100px;
  grid-row-gap: 60px;
}

.about-video .section-head {
  max-width: 810px;
  font-size: 46px;
  line-height: 60px;
  font-family: Chakra Petch, sans-serif;
}

.video-wrapper {
  border: 7px solid #191919;
  border-bottom-width: 7px;
  border-bottom-width: 16px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 637px;
  max-height: 410px;
}

.about-content .about-text {
  font-weight: 300;
  margin-top: 8px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.8);
}

.about-content .about-text ul {
  gap: 20px;
  padding-left: 0;
  list-style-type: none;
  margin-top: 1rem;
}

.about-content .about-text ul li {
  background-image: url('../../assets/images/check-white.png');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: left center;
  padding-left: 51px;
  margin-top: 15px;
}

.about-btn {
  display: flex;
  width: 220px;
  height: 82px;
  padding: 30px 45px 30px 45px;
  margin-top: 2.5rem;
  border-radius: 10px;
  background: #001e5f;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.48px;
  margin: 0 auto;
}

@media (min-width: 993px) {
  .about-img {
    padding-left: 25px;
  }

  .about-img img {
    border-radius: 27px;
  }

  .about-content {
    width: 488px;
    height: 575px;
  }
}

@media (max-width: 992px) {
  .about-content .about-text {
    margin-top: 4rem;
    font-size: 18px;
  }
}
