.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.banner-heading {
  margin-bottom: 20px;
}

.banner-des {
  padding-bottom: 20px;
}

.banner-img {
  position: relative;
}

.blur-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(26, 78, 220, 0.5);
  filter: blur(50px);
}

.hero-content h1 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
  margin-bottom: 10px;
  font-family: Chakra Petch, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 66px;
}

.banner-des p {
  font-weight: 300;
  line-height: 26px;
  font-family: Inter, sans-serif;
  color: rgba(255, 255, 255, 0.8);
}

.button-wrapper {
  grid-column-gap: 15px;
  padding-top: 52px;
  display: flex;
  overflow: hidden;
}

.hero-btn {
  color: #fff;
  text-align: center;
  border-radius: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 46px;
  padding: 0;
  font-family: Chakrapetch SemiBold;
  display: flex;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: background-color 0.3s ease;
  position: relative;
}

.hero-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 123, 255, 0.8) 0%,
    transparent 100%
  );
  pointer-events: none;
  z-index: -1;
  border-radius: inherit;
}

.get-started-btn {
  background-color: #30aca6;
  border: 2px solid #30aca6;
}

.get-started-btn:hover {
  border-style: solid;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
  border: 2px solid #30aca6;
  background: transparent;
}

.paper-btn {
  background-color: gold;
  border: 2px solid gold;
  color: #000;
}

.dropdown-link {
  color: #362465;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
}

.banner-img {
  animation: MoveUpDown 3s linear infinite;
  text-align: center;
}
@keyframes MoveUpDown {
  0% {
    position: relative;
    top: 0;
  }
  50% {
    position: relative;
    top: 10px;
  }
  100% {
    position: relative;
    top: 0;
  }
}

.blur-background {
  z-index: -1;
  filter: blur(100px);
  background-color: rgba(26, 78, 220, 0.5);
  width: 500px;
  height: 500px;
  position: absolute;
  top: 14%;
  bottom: auto;
  left: 4%;
  right: auto;
}

.bottom-right {
  width: 500px;
  height: 500px;
  top: auto;
  bottom: 4%;
  left: auto;
  right: 0%;
}

/* responsive */
/* For small devices (e.g., phones) */
@media (max-width: 576px) {
  .main-title {
    font-size: 30px;
    line-height: 37px;
    height: 112px;
    margin-bottom: 0;
  }
  .content-title p {
    font-size: 17.5px;
    font-weight: 400;
  }
  .hero-img {
    display: none;
  }
  .hero-main {
    padding-top: 0;
  }

  .hero {
    grid-row-gap: 16px;
    margin-top: 40px;
  }

  .hero-content {
    order: 2;
  }

  .banner-img {
    order: 1;
  }
}

/* For medium devices (e.g., tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  .main-title {
    font-size: 50px;
    line-height: 57px;
    height: 133px;
  }
  .content-title p {
    font-size: 18px;
    font-weight: 400;
  }
  .hero-img {
    display: none;
  }
  .hero {
    height: 750px;
    padding-bottom: 0;
  }
  .hero-main {
    padding-top: 0;
  }

  .hero-content {
    order: 2;
  }

  .banner-img {
    order: 1;
  }
}

/* For large devices (e.g., laptops, desktops) */
@media (min-width: 769px) and (max-width: 992px) {
  .main-title {
    font-size: 50px;
    line-height: 64px;
    height: 144px;
  }
  .content-title p {
    font-size: 21px;
    font-weight: 400;
  }

  .hero-img {
    display: none;
  }
}

@media screen and (max-width: 993px) {
  .hero {
    padding-top: 135px;
    text-align: center;
    grid-row-gap: 16px;
    margin-top: 40px;
  }

  .hero-content h1 {
    font-size: 36px;
    line-height: 60px;
  }

  .hero-content p {
    line-height: 30px;
  }

  .button-wrapper {
    grid-row-gap: 15px;
    flex-direction: column;
    align-items: flex-start;
  }
}

/* For extra large devices (e.g., large desktops) */
@media (min-width: 1200px) {
  .main-title {
    font-size: 75px;
  }
}
