.marquee-wrapper {
  width: 100vw;
  transform: translate(-100vw) rotate(5deg);
  background-color: #30aca6;
  height: 93px;
  overflow-x: hidden; 
}

.marquee {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform-origin: top right;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.marquee ul {
  list-style-type: none;
  display: inline-block;
  padding-left: 100%; /*Start off-screen */
  animation: marqueeAnimation 50s linear infinite;
  grid-column-gap: 108px;
}

.marquee li {
  display: inline-block;
  padding: 0 50px;
  align-items: center;
  justify-content: center;
  font-family: Icofont, sans-serif;
  font-size: 30px;
  line-height: 25px;
  transform: rotate(-5deg);
}

.partner-logo {
  max-width: 150px;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 769px) {
  .marquee-wrapper {
    transform: translate(0) rotate(0);
    height: 73px;
    margin-top: 35px;
    overflow-x: hidden; 
  }
  .marquee li {
    transform: none;
  }
  .partner-section {
    margin-top: 75px;
  }
}
