.roadmap-wrapper {
  height: 968px;
  padding: 27px 74px 27px 74px;
  background: linear-gradient(110.18deg, #001e5f 0%, #003ec5 70%);
}

.roadmap-header {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3.5rem;
}

.roadmap-sup-title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 22.9px;
  color: #ffca45;
}

.roadmap-title {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 36.64px;
  color: #ffffff;
}

.roadmap-sub-title {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.32px;
  color: #ffffff;
}

.roadmap-card {
  max-width: 521px;
  min-height: 612px;
  padding: 50px 77px 50px 77px;
  border-radius: 20px;
  border: 2px;
  background: linear-gradient(
    150.17deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(239, 239, 239, 0.1) 100%
  );
  border: 2px solid;
  border-image-source: linear-gradient(
    150.17deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.roadmap-card-header h4 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 22.9px;
  color: #ffffff;
}

.line-border {
  margin: 2rem 0;
}

.custom-navigation {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.custom-navigation button {
  background: transparent;
  border: 2px solid #ffffff;
  width: 58px;
  height: 58px;
  color: #ffffff;
  border-radius: 50%;
  margin-right: 15px;
}

.qmt {
  margin-top: 30px;
}

.quarter h4 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 27.48px;
  text-align: left;
  color: #ffbe1b;
}

.quarter ul {
  gap: 20px;
  padding-left: 0;
  list-style-type: none;
}

.quarter ul li {
  background-image: url('../../assets/images/check2.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 51px;
  margin-top: 15px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.32px;
  text-align: left;
  color: #ffffff;

  padding-top: 2px;
  padding-bottom: 2px;
  text-transform: capitalize;
}

@media screen and (min-width: 993px) {
  .roadmap-header {
    width: 466px;
  }
}

@media screen and (max-width: 993px) {
  .roadmap-wrapper {
    height: auto;
    padding: 10px 15px 10px 15px;
  }
  .roadmap-card {
    padding: 16px 17px;
  }
}

